<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Your Band Aid</title>
  </head>
  <body>
    <div class="page">
      <div class="navbar">
        <ul>
          <li><a class="active" href="#home">Home</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
      <div class="pageHeader">
        <div class="title_banner">
          <div class="boltla"></div>
          <div class="boltlb"></div>
          <h1 class="title_words">FOR SMALL BANDS</h1>
          <h1 class="title_words">BY SMALL BANDS</h1>
          <h1 class="title_words">YOUR BAND AID</h1>
          <div class="boltlc"></div>
        </div>
        </div>
        <div class="pageheadercss">
        </div>
        <div class="Intro">
          <h2>Hey, are you and your bandmates looking for help making it big?</h2>
          <h2>We're a small time band that knows your needs and is going to listen to what you want</h2>
          <h2>You've got a vision, give us a call or email to get it started</h2>
        </div>
        <div class="introcss">
        </div>
        <div class="pricing">
          <h1>Pricing Estimate</h1>
          <h3>Need a website to let the world know you're out here making some noise? Check out our basic webpage plan!</h3>
          <p>Our basic webpage plan includes a custom website with 1-3 pages of content and links to your social media pages</p>
          <p>~$100</p>
          <h3>Want more options? Explore our A La Carte add-ons.</h3>
          <p>Extra webpages $20~$50</p>
          <p>API integration $50~$200</p>
          <p>Logo design $20~$50</p>
          <p>Updating web content $15~$30/per hour</p>
        </div>
        <div class="AboutUs">
          <h1>About Us</h1>
          <h3>We are a couple of musicians in a band of our own with a passion for music and web design</h3>
          <h3>We know that every band out there need a website made by someone they can trust and we are here to help</h3>
          <h3>Our band likes to make alternative pop and you can usually find us jamming in front of our bathroom mirror</h3>
          <h3>We've also been making websites for a few years now and we are looking to create an online presence for other bands as well</h3>
        </div>
      </div>
  </body>
</html>
